#course_course_level {
    display: none;
}
.llmsat-stats_wrapper > p:nth-child( odd ) {
    background-color: #e5e5e5;
}
.llmsat-stats_wrapper > p:nth-child( even ) {
    background-color: #e8e8e8;
}
.llmsat-sd-grades .llmsat-table .llmsat-progress {
    display: block;
    margin: 0; }
    .llmsat-sd-grades .llmsat-table .llmsat-progress .llmsat-progress-bar {
      top: 0;
      height: 1.4em; }
    .llmsat-sd-grades .llmsat-table .llmsat-progress .progress__indicator {
      font-size: 1em;
      position: relative;
      right: 0.4em;
      top: 0.2em;
      z-index: 1; }
  .llmsat-table {
    border: 1px solid #efefef;
    width: 100%; }
    .llmsat-table thead th, .llmsat-table thead td {
      font-weight: 700; }
    .llmsat-table tbody tr:nth-child(odd) td, .llmsat-table tbody tr:nth-child(odd) th {
      background: #f9f9f9; }
    .llmsat-table tbody tr:last-child {
      border-bottom-width: 0; }
    .llmsat-table tfoot tr {
      background: #f9f9f9; }
      .llmsat-table tfoot tr .llmsat-pagination .page-numbers {
        margin: 0; }
      .llmsat-table tfoot tr .llmsat-table-sort {
        text-align: right; }
        .llmsat-table tfoot tr .llmsat-table-sort form, .llmsat-table tfoot tr .llmsat-table-sort select, .llmsat-table tfoot tr .llmsat-table-sort input, .llmsat-table tfoot tr .llmsat-table-sort button {
          margin: 0; }
    .llmsat-table th {
      font-weight: 700; }
    .llmsat-table th, .llmsat-table td {
      border-bottom: 1px solid #efefef;
      padding: 8px 12px; }
      .llmsat-table th:first-child, .llmsat-table td:first-child {
        padding-left: 12px; }
      .llmsat-table th:last-child, .llmsat-table td:last-child {
        padding-right: 12px; }
.stats_wrapper > p {
    margin: 0;
    padding: 15px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 1px 1px #cfcfcf;
    -moz-box-shadow: inset 0 0 1px 1px #cfcfcf;
    box-shadow: inset 0 0 1px 1px #cfcfcf;
}
.llmsat_support {
    color: #fff;
    text-decoration: none;
    padding: 7px;
    background-color: #0073aa;
    line-height: 4;
    border-radius: 4px;
}
.llmsat_support:hover,
.llmsat_support:focus,
.llmsat_support:active {
    color: #fff;
    background-color: #0073aa;
}
.llmsat_no_thanks {
    color: #222;
    text-decoration: none;
    background-color: #e5e5e5;
    border-radius: 4px;
    outline: none;
    padding: 6px;
    border: 1px solid #e9e9e9;
    cursor: pointer;
}
.llmsat_no_thanks:hover,
.llmsat_no_thanks:focus,
.llmsat_no_thanks:active {
    color: #222;
    background-color: #e5e5e5;
}
.llmsat-dismiss-form {
    width: auto;
    display: inline;
}
.llmsat-dismiss-wrapper {
    padding: 5px;
}
.llmsat-error {
	padding: 5px;
	border: 1px solid #a94442;
	color:#a94442;
	background: #f2dede;
	border-radius: 5px;
}